

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сервіс коротких посилань{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/ac57759988.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'header.html' %}
    <main>
        {% block content %}
        <!-- Контент страницы -->
        {% endblock %}
    </main>
    {% include 'footer.html' %}
</body>
</html>